*{
	margin: 0;
	padding: 0;
}

body{
	background-image: none;
	background-image: url(fon1.jpg);
	background-size: cover;
    background-color: grey;
}

.title{
	font-family: 'Permanent Marker', cursive;
	font-size: 900%;
	color: #ffd800;
	margin: 1%;
	margin-top: 4%;
}

.a {
    position: relative;
    text-decoration: none;
    color: #ffd800;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
	font-family: 'Jura', sans-serif;
    font-size: 300%;
}
.a::before, .a::after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: -4px;
    top: 0;
    width: calc(100% + 9px);
    height: 100%;
    border-style: solid;
    border-color: #ffd800;
    box-sizing: border-box;
}
.a::before {
    border-width: 2px 0 2px 0;
    transform: scaleX(0);
}
.a::after {
    border-width: 0 2px 0 2px;
    transform: scaleY(0);
}
.a:hover::before,
.a:hover::after {
    transform: scale(1, 1);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

.modalDialog:target {
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.modalDialog > div {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    grid-auto-flow: row;
    justify-content: start;
    align-content: center;
    border-radius: 10px;
    margin-top: 100px;
    background: rgba(255, 255, 204);
    position: relative;
    padding: 50px;
    margin-bottom: 100px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ffd800; }

.openModal {
	position: relative;
    text-decoration: none;
    color: #ffd800;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
	font-family: 'Jura', sans-serif;
    font-size: 300%;
    margin: 2%;
    margin-left: 85%;
    background-color: rgba(255, 255, 204, 0.5);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button  {
    background-color: #ffd800;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}